<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="User">
            <directory suffix="Test.php">User/tests/Feature</directory>
        </testsuite>

        <testsuite name="User">
            <directory suffix="Test.php">User/tests/Unit</directory>
        </testsuite>
        <testsuite name="MLM">
            <directory suffix="Test.php">MLM/tests/UnitTest</directory>
        </testsuite>

        <testsuite name="MLM-Feature">
            <directory suffix="Test.php">MLM/tests/Feature</directory>
        </testsuite>

    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./app</directory>
        </include>
    </coverage>
    <php>
        <server name="APP_ENV" value="testing"/>
        <server name="BCRYPT_ROUNDS" value="4"/>
        <server name="CACHE_DRIVER" value="array"/>
        <server name="DB_CONNECTION" value="sqlite"/>
        <server name="DB_DATABASE" value="database.sqlite"/>
        <server name="MAIL_MAILER" value="array"/>
        <server name="QUEUE_CONNECTION" value="sqs"/>
        <server name="SESSION_DRIVER" value="array"/>
        <server name="TELESCOPE_ENABLED" value="false"/>
        <server name="AWS_ACCESS_KEY_ID" value="AKIAZE6V4Q3H663SFPNN"/>
        <server name="AWS_SECRET_ACCESS_KEY" value="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"/>
        <server name="SQS_QUEUE" value="mlm"/>
        <server name="AWS_DEFAULT_REGION" value="us-east-2"/>
        <server name="SQS_PREFIX" value="https://sqs.us-east-2.amazonaws.com/629124400847"/>
    </php>
</phpunit>
